*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;
   
}


.lastline{
    background-color: rgb(7, 67, 7); 
    list-style-type: none;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    flex-wrap: wrap;  

}
.box2{
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
 
}
.box2 > li{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    display: block;
    transition: all .3s ease;
    padding: 15px;
}
.box2 >li :hover{
    color:rgb(7, 67, 7);
    padding-left: 6px;
}
.firstline{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(174, 230, 171);
    padding: 30px;
    justify-content:center;
    
}

.box3 > li{
    text-decoration: none;
    color: black;
    display: block;
    transition: all .2s ease;
    padding: 15px;
}
.box3 >li :hover{
    color:rgb(0, 0, 0);
    padding-left: 6px;
}
.social{
    color: rgb(7, 67, 7); 
    margin: 13%;   
}
.log:hover{
    color:white;}
    
.log{
   font-size: 20px;
   padding: 5%;  
}
.box2 > h3{
    color: rgb(0, 0, 0);  
}
 .lists{
    text-decoration: none;
}
.box1{
    display: flex;
    
}
/* styles.module.css */

.lastline {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(7, 67, 7);
  }
  
  .lii {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s ease;
  }
  
  .lii:hover {
    color: #007bff;
  }
  

